# Mongo DB Admin Credentials
MONGO_ROOT_USER=admin
MONGO_ROOT_PASS=example_pass

# Mongo Express Login
ME_USER=example_user
ME_PASS=example_pass

# backend encryption
JWT_SECRET=example_secret_key
CORS_OPTION=localhost:3000

# matlab key
MLM_LICENSE_FILE=
